log4j.rootLogger=DEBUG, FILE, HTML, XML

log4j.appender.OUT=org.apache.log4j.ConsoleAppender
log4j.appender.OUT.layout=org.apache.log4j.PatternLayout
# Print the date in ISO 8601 format
log4j.appender.OUT.layout.ConversionPattern=%d [%t] %-5p %c - %m%n


log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.append=false
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
# Print the date in ISO 8601 format
log4j.appender.FILE.layout.ConversionPattern=%d [%t] %-5p %c - %m%n
log4j.appender.FILE.File=log.txt


log4j.appender.HTML=org.apache.log4j.FileAppender
log4j.appender.HTML.append=false
log4j.appender.HTML.layout=org.apache.log4j.HTMLLayout
log4j.appender.HTML.File=log.html

log4j.appender.XML=org.apache.log4j.FileAppender
log4j.appender.XML.append=false
log4j.appender.XML.layout=org.apache.log4j.xml.XMLLayout
log4j.appender.XML.File=log.xml



log4j.logger.fr.inrets.leost.geolocation.Gps=DEBUG
log4j.logger.fr.inrets.leost.cmo.management.CMOManagement=DEBUG
